{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.sol",
        "options": {
          "parser": "solidity-parse"
        }
    }
  ]
}
